<!doctype html>
<html>

<head>
    <title>Estaganografía: Tecnica LSB</title>
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" /> -->
</head>

<body>
    <div>
        <h2>Mensaje encode</h2>

        <form action="/encodearBIENPERRO" method="post" enctype=multipart/form-data>
            <div>
                Message to hidde:
            </div>
            <div>
                <input type="text" name="message_to_hidde" value=""></div>
            <br>
            <br>
            <div>
                <label>Select image</label>
                <div class="custom-file">
                    <input type=file name=file>
                </div>
            </div>
            <div>
                <input type="submit" value="Encodear">
            </div>
        </form>
        {% if src_img %}
        <div>
            <img src={{ src_img}}>
        </div>
        {% endif %}

    </div>
    <div>
        <h2>Message decode:</h2>

        {% if stego_img %}
        <div>
            <img src={{ stego_img}}>
        </div>
        {% endif %}
    </div> -->
    <div>
        {{ message_hidden }}
    </div>
    </div>
</body>

</html>